<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solar Energy Viability (Code for Impact 2024)</title>
    <script src="http://maps.googleapis.com/maps/api/js?key=APIKEY&libraries=places" type="text/javascript"></script>

    <script type="text/javascript">
        function initialize() {
            var input = document.getElementById('searchTextField');
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                document.getElementById('name').value = place.name;
                document.getElementById('lat').value = place.geometry.location.lat();
                document.getElementById('lng').value = place.geometry.location.lng();
                //alert("This function is working!");
                //alert(place.name);
               // alert(place.address_components[0].long_name);

            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<form action="/" method="post">
    <label>Address</label>
    <br>
    <input id="searchTextField" placeholder="Address" type="text" autofocus>
    <input type="hidden" id="name" name="name" />
    <input type="hidden" id="lat" name="lat" />
    <input type="hidden" id="lng" name="lng" />
    <br>
    <br>
    <label>Roofing Healthy:</label>
    <input id="roofing_health" name="roofing_health" type="checkbox" value="healthy">
    <br>
    <br>
    <label>Roofing Type</label>
    <br>
    <input type="radio" id="asphalt" name="roofing_type" value="Asphalt Shingles">
    <label for="asphalt">Asphalt Shingles</label>
    <br>
    <input type="radio" id="metal" name="roofing_type" value="Metal">
    <label for="metal">Metal</label>
    <br>
    <input type="radio" id="tile" name="roofing_type" value="Tile">
    <label for="tile">Tile</label>
    <br>
    <input type="radio" id="tar" name="roofing_type" value="Tar and Gravel">
    <label for="tar">Tar and Gravel</label>
    <br>
    <input type="radio" id="composite" name="roofing_type" value="Composite">
    <label for="composite">Composite</label>
    <br>
    <input type="radio" id="rubber" name="roofing_type" value="Rubber">
    <label for="rubber">Rubber</label>
    <br>
    <input type="radio" id="corrugated" name="roofing_type" value="Corrugated">
    <label for="corrugated">Corrugated</label>
    <br>
    <input type="radio" id="slate" name="roofing_type" value="Slate">
    <label for="slate">Slate</label>
    <br>
    <br>
    <label>Monthly Electricity Cost</label>
    <br>
    <label>£</label>
    <input type="number" id="elec_cost" name="elec_cost" step="any">
    <br>
    <br>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>